version: 2
updates:
  - package-ecosystem: npm
    directory: "web-ui"
    schedule:
      interval: daily
    open-pull-requests-limit: 20
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 20
    labels:
      - automerge
      - dependencies
  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 20
    ignore:
      - github.com/cosmos/cosmos-sdk
    labels:
      - automerge
      - dependencies
