##### Chain #######

# OS
.DS_Store
*.swp
*.swo
*.swl
*.swm
*.swn
.vscode
.idea
*.pyc
*.exe
*.exe~
*.dll
*.so
*.dylib
go.work.sum

# Build
vendor
build
bin
tools/bin/*
dist

rocksdb
data
heighliner

# python script
autotest.py
scripts/wallets.sh

# Coverage
coverage.txt


##### web ui #######

# dependencies
web-ui/node_modules
web-ui/.pnp
web-ui/.pnp.js

# testing
web-ui/coverage

# next.js
web-ui/.next/
web-ui//out/

# production
web-ui/build

# misc
web-ui/.DS_Store
web-ui/*.pem

# debug
web-ui/npm-debug.log*
web-ui/yarn-debug.log*
web-ui/yarn-error.log*
web-ui/.pnpm-debug.log*

# local env files
web-ui/.env*.local
web-ui/.vscode

# vercel
web-ui/.vercel

# typescript
web-ui/*.tsbuildinfo
web-ui/next-env.d.ts
