# OS
.DS_Store
*.swp
*.swo
*.swl
*.swm
*.swn
.vscode
.idea
*.pyc
*.exe
*.exe~
*.dll
*.so
*.dylib

# Build
vendor
build
bin
tools/bin/*
dist

rocksdb
data
heighliner

# python script
autotest.py
scripts/wallets.sh

# Coverage
coverage.txt
