# OS
.DS_Store
*.swp
*.swo
*.swl
*.swm
*.swn
.vscode
.idea
*.pyc
*.exe
*.exe~
*.dll
*.so
*.dylib

# Build
vendor
build
bin
tools/bin/*
dist

rocksdb
data
heighliner

# python script
autotest.py
scripts/wallets.sh

# Coverage
coverage.txt
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.vscode

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
