version: '3.8'
services:
  quicksilver:
    image: quicksilverzone/quicksilver:latest
    hostname: quicksilver
    volumes:
      - ./data/qstest-1:/quicksilver/.quicksilverd
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 26657:26657
      - 1317:1317
  quicksilver2:
    image: quicksilverzone/quicksilver:latest
    hostname: quicksilver2
    volumes:
      - ./data/qstest-1a:/quicksilver/.quicksilverd
    build:
      context: .
      dockerfile: Dockerfile
  quicksilver3:
    image: quicksilverzone/quicksilver:latest
    hostname: quicksilver3
    volumes:
      - ./data/qstest-1b:/quicksilver/.quicksilverd
    build:
      context: .
      dockerfile: Dockerfile
  testzone1-1:
    image: quicksilverzone/testzone:latest
    hostname: testzone1-1
    volumes:
      - ./data/lstest-1:/icad/.ica
    command:
      - icad
      - start
    ports:
    - 27657:26657
    - 23137:1317
  testzone1-2:
    image: quicksilverzone/testzone:latest
    hostname: testzone1-2
    volumes:
      - ./data/lstest-1a:/icad/.ica
    command:
      - icad
      - start
  testzone1-3:
    image: quicksilverzone/testzone:latest
    hostname: testzone1-3
    volumes:
      - ./data/lstest-1b:/icad/.ica
    command:
      - icad
      - start
  testzone1-4:
    image: quicksilverzone/testzone:latest
    hostname: testzone1-4
    volumes:
      - ./data/lstest-1c:/icad/.ica
    command:
      - icad
      - start
  testzone2-1:
    image: quicksilverzone/qsosmosis:v10.1.1
    hostname: testzone2-1
    build:
      context: .
      dockerfile: Dockerfile.osmosis
    volumes:
      - ./data/lstest-2:/osmosis/.osmosisd
    command:
      - osmosisd
      - start
  testzone2-2:
    image: quicksilverzone/qsosmosis:v10.1.1
    hostname: testzone2-2
    volumes:
      - ./data/lstest-2a:/osmosis/.osmosisd
    command:
      - osmosisd
      - start
  testzone2-3:
    image: quicksilverzone/qsosmosis:v10.1.1
    hostname: testzone2-3
    volumes:
      - ./data/lstest-2b:/osmosis/.osmosisd
    command:
      - osmosisd
      - start
  testzone2-4:
    image: quicksilverzone/qsosmosis:v10.1.1
    hostname: testzone2-4
    volumes:
      - ./data/lstest-2c:/osmosis/.osmosisd
    command:
      - osmosisd
      - start
  hermes:
    image: quicksilverzone/hermes:v0.15.0
    hostname: hermes
    volumes:
      - ./scripts/config/hermes.toml:/tmp/hermes.toml
      - ./data/hermes:/hermes/.hermes
    command:
      - hermes
      - -c
      - /tmp/hermes.toml
      - start
    restart: always
    build:
      context: .
      dockerfile: Dockerfile.hermes
  icq:
    image: quicksilverzone/interchain-queries:v0.4.0
    volumes:
      - ./data/icq:/icq/.icq
    command:
      - interchain-queries
      - run
    restart: always
  relayer:
    image: quicksilverzone/relayer:v2.0.0
    volumes:
      - ./data/rly:/relayer/.relayer
    command:
      - start
      - demo
      - -p
      - events
      - -b
      - "100"
    restart: always
