global:
    api-listen-addr: :5183
    timeout: 10s
    light-cache-size: 20
chains:
  qstest-1:
      type: cosmos
      value:
        key: testkey
        chain-id: qstest-1
        rpc-addr: http://quicksilver:26657
        account-prefix: quick
        keyring-backend: test
        gas-adjustment: 1.5
        gas-prices: 0.0uqck
        debug: true
        timeout: 180s
        output-format: json
        sign-mode: direct
  lstest-1:
      type: cosmos
      value:
        key: testkey
        chain-id: lstest-1
        rpc-addr: http://testzone1-1:26657
        account-prefix: cosmos
        keyring-backend: test
        gas-adjustment: 1.5
        gas-prices: 0.0uqck
        debug: true
        timeout: 180s
        output-format: json
        sign-mode: direct
paths:
    demo:
        src:
            chain-id: qstest-1
            client-id: 07-tendermint-0
            connection-id: connection-0
        dst:
            chain-id: lstest-1
            client-id: 07-tendermint-0
            connection-id: connection-0
        #interchainquery:
        #    query: true
        #    buffer: 10
        #    src-channel: channel-0
        src-channel-filter: {}
