# This is a basic workflow that is manually triggered

name: build and test

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on: [pull_request, workflow_dispatch]

# This workflow makes x86_64 for windows, and linux.

jobs:
  build:
    strategy:
      matrix:
        arch: [amd64]
        targetos: [linux, windows, darwin]
        include:
          - targetos: darwin
            arch: arm64
    runs-on: ubuntu-latest
    name: build quicksilver
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: '1.19.6'
        env:
          GOOS: ${{ matrix.targetos }}
          GOARCH: ${{ matrix.arch }}

      - name: Setup Golang caches
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-golang-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-golang-

      - name: Compile quicksilver
        run: |
          make install

      - name: Archive quicksilver binaries
        if: github.ref == 'refs/heads/develop'
        uses: actions/upload-artifact@v3
        with:
          name: quicksilverd-${{ matrix.targetos }}-${{ matrix.arch }}
          path: |
            ~/go/bin/quicksilverd*

  test:
    runs-on: ubuntu-latest
    name: test quicksilver
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: '1.19.6'
        env:
          GOOS: ${{ matrix.targetos }}
          GOARCH: ${{ matrix.arch }}

      - name: Setup Golang caches
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-golang-test-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-golang-test-

      - name: test quicksilver
        run: |
          make test-unit-cover
          cat coverage.txt | grep .pb.go -v | grep .pb.gw.go -v | grep osmosis-types -v | grep test -v | grep -l 'DONTCOVER' -v > coverage_nogen.txt

      - name: "Go vulnerability checks"
        continue-on-error: true    #temp-till we upgrade to v1.20
        run: make vulncheck

      - name: Upload coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }} # needed for private repo
          files: ./coverage_nogen.txt
          flags: unittests
          fail_ci_if_error: true
          verbose: true

  simulate:
    if: contains(github.event.pull_request.labels.*.name, 'run-sim')
    runs-on: ubuntu-latest
    name: simulate quicksilver
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: Run simulation tests
        run: make test-sim-ci
