on:
  push:
    paths:
      - icq-relayer/**
  pull_request:
    paths:
      - icq-relayer/**

name: icq-relayer
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.24.5]
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - run: |
          cd icq-relayer
          go test ./...
  build:
    strategy:
      matrix:
        go-version: [1.24.5]
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - run: |
          cd icq-relayer
          make build
