name: create docker image + E2E Tests

on:
  pull_request:
  push:
    tags:
      - '**'
    branches:
      - 'main'
      - 'develop'
    paths:
      - '**.go'
      - 'go.sum'

env:
  REGISTRY: quicksilverzone
  IMAGE_NAME: quicksilver-e2e

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    steps:

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '1.20.4'

      - name: Setup Golang caches
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-golang-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-golang-

      - name: build and push container
        run: make ictest-build-push

  test-quicksilver-basic:
    runs-on: ubuntu-latest
    needs: build-and-push-image
    steps:
      - name: Set up Go 1.20
        uses: actions/setup-go@v4
        with:
          go-version: '1.20.4'
        id: go

      - name: checkout chain
        uses: actions/checkout@v3

      - run: make ictest-basic
        env:
          BRANCH_CI: "latest"

  test-quicksilver-ibc:
    runs-on: ubuntu-latest
    needs: build-and-push-image
    steps:
      - name: Set up Go 1.20
        uses: actions/setup-go@v4
        with:
          go-version: '1.20.4'
        id: go

      - name: checkout chain
        uses: actions/checkout@v3

      - run: make ictest-ibc
        env:
          BRANCH_CI: "latest"

  test-quicksilver-interchainstaking:
    runs-on: ubuntu-latest
    needs: build-and-push-image
    steps:
      - name: Set up Go 1.20
        uses: actions/setup-go@v4
        with:
          go-version: '1.20.4'
        id: go

      - name: checkout chain
        uses: actions/checkout@v3

      - run: make ictest-interchainstaking
        env:
          BRANCH_CI: "latest"
