name: simulate quicksilver

on:
  pull_request:
    branches:
      - main
jobs:
  test:
    if: contains(github.event.pull_request.labels.*.name, 'run-sim')
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: Run simulation test
        run: make test-sim-ci