name: simulate quicksilver

on:
  schedule:
    - cron: "0 0 * * 0" # run once a week

jobs:
  simulate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Run simulation tests
        run: make test-sim-non-determinism
