name: Test Deploy to GitHub Pages

on:
  push:
    paths:
      - web-ui/**

  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest # or specify a version

      - name: Install Dependencies
        run: |
          cd web-ui
          bun install

      - name: Build Project
        run: |
          cd web-ui
          bun run build

      - name: Export Project
        run: |
          cd web-ui
          bun export

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./out
